<h1>Synchronize Git Repositories</h1>
<%= form_tag sync_project_git_sync_index_path(@project), method: :post do %>
  <div class="box">
    <p>
      <%= label_tag :source_repo, 'Source Repository:' %><br>
      <%= text_field_tag :source_repo %>
    </p>
    <p>
      <%= label_tag :api_key, 'API Key:' %><br>
      <%= text_field_tag :api_key %>
    </p>
    <p>
      <%= check_box_tag :skip_ssl_verification, '1' %>
      <%= label_tag :skip_ssl_verification, 'Skip SSL Verification' %>
    </p>
    <p>
      <%= submit_tag 'Sync', class: 'button' %>
    </p>
  </div>
<% end %>

<h2>Available Repositories</h2>
<ul>
  <% @repositories.each do |repo| %>
    <li>
      <strong>Information to import the project :</strong>
      <strong>Identifier:</strong> <%= File.basename(repo) %><br>
      <strong>Path:</strong> <%= File.join(repo, '.git/') %>
      <strong>Contents:</strong>
      <ul>
        <% Dir.glob(File.join(repo, '**', '*')).select { |f| File.file?(f) }.each do |file| %>
          <li><%= file.gsub("#{repo}/", '') %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

